<center>
<body class="background">		
   <center>
    <h2 class= "h2style">Please enter your name<h2>
    <form action="player_names" method="post">
	<h3 class="h3style">Player 1</h3>
	<input type= name="texts" name="player1">
	<h3 class="h3style">Player 2</h3>
	<input type="text" name="player2">
	<p><input type="submit" value="Submit"></p>
    </form>
    	
</body	