<center>
<body class="background">
<h2 class="h2style"><%=p1_name%> Wins</h2>
<h1 class="h1style"><%=p2_name%> Loses!!</h1>
<h2 class="h2style"><%=word%> is the word</h2>
<img src="https://upload.wikimedia.org/wikipedia/commons/d/d6/Hangman-6.png"> 
</center>