<center>
<body class="background">
<h2 class="h2style"> <%=p2_name%> Wins!!</h2>
<h1 class="h1style"> <%=p1_name%> Losses!!</h1>
<h2 class="h2style"> <%=blank%> is the word</h2>
<img src="https://upload.wikimedia.org/wikipedia/commons/d/d6/Hangman-6.png"> 

<h2 class="h2style"><a href="/"> Start new Game </a></h2>
</center>