.background {background-image: url("https://twistedsifter.files.wordpress.com/2013/05/animated-gifs-of-fighting-game-backgrounds-25.gif?w=800&h=336");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}
.h1style{
	color: red;
}
.h2style{
	color: blue;
}
.h3style{
	color:lightgreen;
}
.h4style{
	color: black;
	border: 1px solid black;
	border-top-style: solid;
	border-left-style: solid;
	border-right-style:solid;
    outline-style: double;
    outline-color: darkblue; 
    width:20%;
}
.hangman{
	color:lightgreen;
}
