.background {background-image:url("http://38.media.tumblr.com/6567b2f1052d48eb71e8bbcea161d395/tumblr_ng8t7yrDBY1qks6gfo1_400.gif");}
.h1style{
	color:lightgreen;
}
.h2style{
	color:lightgreen;
}
.h3style{
	color:lightgreen;
}
.h4style{
	color:lightgreen;
}
.hangman{
	color:lightgreen;
}